CafeLanch/UserInterface/Connected Services/ServiceReference1/LanchWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LanchWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LanchWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LanchWCF.Models" />
  <xs:complexType name="ArrayOfPizzaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PizzaDTO" nillable="true" type="tns:PizzaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizzaDTO" nillable="true" type="tns:ArrayOfPizzaDTO" />
  <xs:complexType name="PizzaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:ArrayOfIngredientDTO" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderDTO" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PizzaDTO" nillable="true" type="tns:PizzaDTO" />
  <xs:complexType name="ArrayOfIngredientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientDTO" nillable="true" type="tns:IngredientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredientDTO" nillable="true" type="tns:ArrayOfIngredientDTO" />
  <xs:complexType name="IngredientDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="Desserts" nillable="true" type="q1:ArrayOfDessertDTO" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfPizzaDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="Sushis" nillable="true" type="q2:ArrayOfSushiDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngredientDTO" nillable="true" type="tns:IngredientDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="Desserts" nillable="true" type="q3:ArrayOfDessertDTO" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="Drinks" nillable="true" type="q4:ArrayOfDrinkDTO" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfPizzaDTO" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="Sushis" nillable="true" type="q5:ArrayOfSushiDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
</xs:schema>