CafeLanch/UserInterface/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LanchWCF" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LanchWCF.Models" />
  <xs:element name="GetPizzas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LanchWCF" minOccurs="0" name="GetPizzasResult" nillable="true" type="q1:ArrayOfPizzaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSushis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSushisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="GetSushisResult" nillable="true" type="q2:ArrayOfSushiDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDessert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="GetDessertResult" nillable="true" type="q3:ArrayOfDessertDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="GetDrinksResult" nillable="true" type="q4:ArrayOfDrinkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LanchWCF" minOccurs="0" name="GetOrdersResult" nillable="true" type="q5:ArrayOfOrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOnEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Messege" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LanchWCF" minOccurs="0" name="order" nillable="true" type="q6:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOnEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LanchWCF.Models" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q7:ArrayOfCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>